<% content_for :title, "Dicty12: Registration" %>

<p id="notice" style="font-size:16px;"><%= notice %></p>
<p>
An email has been sent to confirm your registration.
<br />
<p style="color:red; font-size:13px"><b>To complete the registration please following the instructions on <%= link_to 'Payment', :url => { :controller => :registration, :action => "index" } %></b></p>
<br />
Thank you.
</p>
