<div class="row">
	<div class="container" id="register">
		<%# if registration_open? %>
		<% if !is_registered? and registration_open? %>
			<%# if logged_in? %>
				<%#= button_to "Register", new_registrations_path(current_user), :class => "btn btn-large btn-primary" %>
			<%# else %>
				<%= button_to "Register", :login, :class => "btn btn-large btn-primary" %>
			<%# end %>
		<% end %>
	</div>
</div>
