
<%= javascript_include_tag "conference-info" %>

<div class="row">
	<div class="span6">
		<!--<a href="#" id="conference-info" data-type="textarea" data-pk="1">Write something here</a>-->
		<p>
		Talks, poster sessions, accommodation, and meals will be take place at the <a href="http://doubletree3.hilton.com/en/hotels/north-carolina/doubletree-by-hilton-hotel-asheville-biltmore-AVLBMDT/index.html">DoubleTree by Hilton Hotel, Asheville – Biltmore</a> 
		</p>
		<p>Meals will be organized as buffets in which salads, meat, fish and fruits will always be available. Please contact the organizers if you have any special requirements.
		</p>
		<p>The banquet will be held Wednesday evening at the <a href="http://www.biltmore.com/weddings/locations/river_bend.asp">Antler Hill Village on the Biltmore Estate</a>
		</p>
		
		<h4>Activities</h4>  
		<p>One of two activities will be offered on Wednesday afternoon 
		<ul>
			<li>Tour of the <a href="http://www.biltmore.com/visit/explore.asp">Biltmore House, Gardens, Winery, Farm Village, and access to all Estate facilities</a>
			<li><a href="http://www.exploreasheville.com/things-to-do/outdoor-adventures/water-adventures/#whitewater-rafting">Whitewater rafting</a></li>
		</ul>
		</p>
	</div>

	<div class="span6">
		<iframe width="440" height="260" src="http://www.youtube.com/embed/1AsdeMXHTpA" frameborder="0" allowfullscreen></iframe>
	</div>

</div>
