
<%= javascript_include_tag "conference-info" %>


<div class="row">
	<div class="span11">
		<div class="well">
			<a href="#" id="conference-info" data-type="textarea" data-pk="1">Write something here</a>
		</div>
	</div>
</div>
