
<div class="container">
	<div class="row">
		<h4>Travel to Asheville, NC</h4>
		<br/>
		<p>
		Asheville is an easy drive from most of the eastern United States. It is centrally located in the epicenter of numerous major cities and easily accessible from major interstates I-40 and I-26.
		<br/><br/>
		The <a href="http://www.flyavl.com/">Asheville Regional Airport (AVL)</a> serves approximately 750,000 passengers per year. It offers non-stop flights and easy connections through the major US hubs of Atlanta (ATL), Newark (EWR - May 2013), Detroit, Chicago (ORD), New York and Charlotte (CLT), as well as service from Orlando and St. Petersburg/Clearwater (June 2013).
		<br/><br/>
		You can find more detailed information about travel to the Asheville area <a href="http://www.exploreasheville.com/meeting-and-event-planners/travel-airport-maps/">here</a>
		<br/><br/>
		<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=DoubleTree+by+Hilton+Asheville-Biltmore,+Hendersonville+Road,+Asheville,+NC&amp;aq=0&amp;oq=doubletree+by+hilton+asheville&amp;sll=41.833733,-87.731964&amp;sspn=1.150091,2.992401&amp;ie=UTF8&amp;hq=DoubleTree+by+Hilton+Asheville-Biltmore,+Hendersonville+Road,+Asheville,+NC&amp;ll=35.562926,-82.543094&amp;spn=0.018154,0.032015&amp;t=m&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=DoubleTree+by+Hilton+Asheville-Biltmore,+Hendersonville+Road,+Asheville,+NC&amp;aq=0&amp;oq=doubletree+by+hilton+asheville&amp;sll=41.833733,-87.731964&amp;sspn=1.150091,2.992401&amp;ie=UTF8&amp;hq=DoubleTree+by+Hilton+Asheville-Biltmore,+Hendersonville+Road,+Asheville,+NC&amp;ll=35.562926,-82.543094&amp;spn=0.018154,0.032015&amp;t=m" style="color:#0000FF;text-align:left">View Larger Map</a></small>
		</p>
	</div>
</div>
