
<div class="row">
	<div class="container" id="register">
		<% if abstracts_submission_open? %>
			<button class="btn btn-large btn-primary" type="button">Submit Abstract</button>       
	<% end %>
	</div>
</div>
