<% content_for :title, "DictyConf Abstracts" %>

<div class="container">

	<%= render :file => 'abstracts/info' %>
	<br />
	<%= render :file => 'abstracts/abstracts-table' %>
	<br />
	<%= render :file => 'abstracts/button' %>
	<br />

</div>

