
<% if abstracts_submission_open? %>
	<h4><p class="text-error text-center">Please submit your abstract(s) no later than <em><%= DateTime.parse(DictyConfig.abstracts['end']).strftime("%B %d, %Y") %></em></p></h4>
<% else %>
	<h4><p class="text-error text-center">Abstract submission coming soon</p></h4>
<% end %>
<br />

<!--
<div class="well">

	<h5>Abstracts</h5>
	<p align="justify">To submit your abstracts, please fill out all fields (the <em>'Note to organizers'</em> field is optional). Abstracts should not exceed 300 words.</p>

	<h5>Talks:</h5>
	<p align="justify">Please plan your talk to be 15 minutes long; your slot will be a maximum of 25 minutes including questions. Please bring your talk on a USB stick or similar, ready to load onto a PC or Mac computer the day of your talk. If you wish to bring your own laptop, please contact the organisers at the meeting before your scheduled talk.</p>

	<h5>Posters:</h5>
	<p align="justify">The poster size should be 90 cm wide x 110 cm high.</p>

</div>
-->
